
body {
	margin:0; padding:0;
	font-size:12px;
	font-family: Verdana, Arial, sans-serif;
}
img	{
	border:none;
	background:#fff
}
#container {
	width:960px;
	padding:1em;
	margin-left:auto;
	margin-right:auto;
	background:#fff;
}
#header {
	width:960px;
	height:65px;
}
#headerLogo
{
    float:left;
}
#headerLinks	{
	color:#231f20;
	font-size:11px;
	text-align:right;
	float:right;
}
#headerLinks a	{
	color:#231f20;
	text-decoration:none;	
}
#headerLinks a:hover	{
	color:#FF0000;
}
#search	{
	margin-top:15px;
	float:right;
}

/* search box */
.srch-gosearchimg
{
    background:url(/_layouts/images/bgximg.png) #fff repeat-x 0px -511px;
    height:17px;
}

.s4-search INPUT.ms-sbplain,
.s4-searchbox-QueryPrompt
{
    color: #636363;
    font-style:normal !important;
    font-size: 10pt;
    text-align:center;

	BORDER-BOTTOM: #e3e3e3 1px solid; 
	BORDER-LEFT: #e3e3e3 1px solid; 
	PADDING-BOTTOM: 0px; 
	PADDING-LEFT: 3px; 
	WIDTH: 191px !important; 
	PADDING-RIGHT: 3px; 
	BACKGROUND: url(/_layouts/images/bgximg.png) #fff repeat-x 0px -511px; 
	HEIGHT: 17px; 
	FONT-SIZE: 1.1em; 
	BORDER-TOP: #e3e3e3 1px solid; 
	BORDER-RIGHT: #e3e3e3 1px solid; 
	PADDING-TOP: 2px
}

#navTop	{
	width:960px;
	height:42px;
}
#navbar	{
	min-height:40px;
	background-image:url('/_layouts/1033/Images/fd/Corporate/topnav_middleonepix.png');
	background-repeat:repeat-x;
}
#topContent	{
	width:960px;
	min-height:10px;
	margin-left:20px;
	color:#FF0000;
	font-size:11px;
	margin-bottom:14px;
}
#topContent	a{
	color:#4D4D4F;
	text-decoration:none;
}
#topContent	a:hover{
	color:#FF0000;
}
#leftNav	{
	width:245px;
	margin-left:-1.5em;
	min-height:559px;
	height:auto;
	
	float:left;
}
#leftNavContent	{
	width:100%;
	min-height:559px;
	background-image:url('/_layouts/1033/Images/fd/Corporate/leftnav_whiteboxwithdropshadow_middleonepix.png');
}

#leftNavContent	ul{
	margin-top:0px;
}

#leftNavContent	li{
	list-style-image:url('/_layouts/1033/Images/fd/Corporate/leftnav_redvertline.png');
	border-bottom:solid 1px #AEB0B2;
	font-size:12px;
	font-weight:bold;
	color:#4D4D4F;
	padding:10px;
	width:150px;
}

#leftNavContent	li  a{
	color:#4D4D4F
}

#leftNavContent	li  a:hover{
	color:#FF0000
}
#leftNavContent ul li ul
{
	padding:5px;
}
#leftNavContent ul li ul li{
	list-style-image:none;
	list-style-type:circle;
	border-bottom:none;
	padding:0px;      
}

#mainContent	{
	margin-left:3px;
	padding:0px;
	min-height:521px;
	float:left;
}

#footer	{
	clear:both;
	margin-top:21px;
	width:960px;
	height:200px;
	border-top:.5px solid #C0BDB3;
}
.footerBaseLine	{
	/*width:960px;
	height:103px;*/
	background-image:url('images/footerbox_middleonepix.png');
	background-repeat:repeat-x;
	background-position:left bottom;
}
#footerFollowUs	{
	margin-top:0px;
}
#footerFollowUs	img{
	padding:3px;
}

.footerSub	{
	/*font-weight:bold;*/
	font-size:10px;
	/*width:225px;*/
	padding-right:15px;
	min-height:150px;
	margin-top:20px;
	color:#4D4D4F;
}
.footerSub	a	{
	color:#4D4D4F;
	text-decoration:none;
	line-height:15px;
}
.footerSub	a:hover	{
	color:#FF0000;
}
.footerImage{
	position:relative;
	top:97px;
}
.leftBorder{
	margin-right:30px;
	margin-left:0px;
	border-right:.5px solid #C0BDB3;
	/*width:180px;*/
}
.footerHead, .footerHead a	{
	font-weight:bold;
	font-size:13px;
	color:#4D4D4F;
}

.footerHead a:hover	{
	color:#FF0000;
}

.copyright	{
	margin-top:75px;
}
.left	{
	float:left;
}
.right	{
	float:right;
}
.imagecontainer	{
	width:100%;
	height:28px;
}
#x4-leftpanel {
	margin-left:40px;;
}
#s4-statusbarcontainer	{
	width:960px;
}


/* ////// Top Menu Styles /////////// */
/* ////// Top Menu Styles /////////// */


/* item style */
.s4-tn li.static  .menu-item {
	border-bottom:medium none;
	background-image:url('/_layouts/1033/Images/fd/Corporate/topnavdividerline.png');
	background-repeat:no-repeat;
	position:relative;
	font-size:14px;
	color:#717375;
	left:-1px;
	padding-top:5px;
	height:14px;
}

/* first item style */
.s4-tn li.static  .menu-item-first{
	font-size:14px;
	color:#717375;
	position:relative;
	left:-1px;
	padding-top:5px;
	height:15px;
	display:inline-block;
	cursor:pointer;
	vertical-align:middle;
	padding:4px 10px;
	border-left:1px solid transparent;
	border-top:1px solid transparent;
	border-bottom:1px solid transparent;
	/*background-image:url('/_layouts/1033/Images/fd/Corporate/topnavdividerline.png');*/
	background-image:none;
	background-repeat:no-repeat;
}

/* item style hover */
.s4-tn li.static  a:hover {
	color: Black;
	text-decoration:none;
	height:14px;
	/*background-image:url('/_layouts/1033/Images/fd/Corporate/topnavdividerline.png');*/
	/*background-repeat:no-repeat;*/

}

/* flyout holder */
.s4-tn ul.dynamic {
	background:#696A6C;
	margin-left:-1px;
	border-left:black 1px solid;
	border-right:black 1px solid;
	border-bottom:black 1px solid;
}

/* flyout item */
.s4-tn li.dynamic  .menu-item	{
	font-size:14px;
	color: #CDCFD0;
	border-bottom:solid 1px #CDCFD0;
	border-right: none;
	border-left: none;
	height:20px;
	padding-left: 8px;
	margin-left: 8px;
	background-image:none;
}

.last-child
{
    border-bottom:none;
}

/* flyout item hover */
.s4-tn li.dynamic  a:hover {
	font-size:14px;
	color:#FFF;
	height:20px; 
	border-bottom:solid 1px #CDCFD0;
	background-color:#696A6C;
	border-left:none;
	border-right:none;
	background-image:none;
}

.menu-horizontal A.dynamic-children SPAN.additional-background
{
    background-image: url(/_layouts/1033/images/FD/Corporate/topnavdropdownarrow.png); PADDING-RIGHT: 10px
}
/*======= Left Nav Tree View =======*/
.FDTreeViewLevel1
{
	vertical-align:top;
	text-align:left;
	font-weight:bold;
	font-size:11pt;
}
a.FDTreeViewLevel1
{
	
	color:#4d4d4f;
}

.FDTreeViewLevel1 a:hover
{
	color:#FF0000;
}

.FDTreeViewLevel2
{
	vertical-align:top;
	font-size:10pt;
	padding-bottom:10px;
}

td.FDTreeViewLevel2
{
	vertical-align:top;
}

a.FDTreeViewLevel2
{
	
	color:#4d4d4f;
}

.FDTreeViewLevel2 a:hover
{
	color:#FF0000;
}

a.FDTreeViewSelected
{
	vertical-align:top;
	color:#FF0000;
}

.FDTreeViewImage
{
	width:15px;
	vertical-align:top;
	/*padding-top:3px;*/
	/*padding-right:4px;*/
}

table.FDTreeViewOuterTable
{
	width:100%;
	padding-top:30px;
	background: url(/_layouts/1033/images/FD/Corporate/leftnav_divider.gif) top left no-repeat;
	

}

/* Page Specific Styles */
#flashWindow{
	width:960px;
	min-height:281px;
	padding:0px;
}
.contentBoxes{
	width:290px;
	min-height:285px;
	margin-top:21px;
	margin-bottom:21px;
	padding:0 10px 0 10px;
	float:left;
	border-style:solid;
	border-width:1px;
	border-color:#CAC7BE;
}
.contentBoxes div{
	margin: 5px 0 0 0;
	padding:0px;
}

.contentBoxes div .description{
	margin: 0 0 0 0;
	padding:0px;
}

.contentBoxImageContainers{
	border-bottom:1px #AEB0B2 solid;
}
.ms-rtestate-field{
		
}
#leftContentBox{
	clear:both;
}
#middleContentBox{
	margin-left:12px;
	margin-right:12px;
} 

/* Family Dollar Corporate Styles To Be Used By Content Authors */
.FDtitleRed
{
    font-family: Arial Narrow, Arial;
    COLOR: #ff0000;
    FONT-SIZE: 16pt;
    FONT-WEIGHT: Bold; 
}
.FDtitleBlack
{
    font-family: Arial Narrow, Arial;
    COLOR: #333333;
    FONT-SIZE: 16pt;
    FONT-WEIGHT: Bold;
}
.FDpageContent
{
    COLOR: #333333;
    FONT-SIZE: 10pt;
}
.FDpageHeader
{
    COLOR: #ff0000;
    FONT-SIZE: 14pt;
}
.FDpageSubHeader
{
    COLOR: #ff0000;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: Bold;
}
.FDhrTitle
{
    COLOR: #a1a1a1;
    BACKGROUND-COLOR: #a1a1a1;
    HEIGHT: 1px;
}


/*  Stock Ticker WEb Part Styles  */
	#stockData{
	    color:#4D4D4F;
	}
	#stockData th{
	    text-align:left;
	}

	.stockTicker-Title
	{
	    font-weight:bold;
	    text-align:left;
        font-size:14px;
	    color:#333333;
	    margin: 10px 0 20px 0 !important;
	}
	.stockTicker-label
	{
	    font-weight:normal;
        font-size:13px;
	    color:#333333;
	    float:left;
	    width:175px;
	}
	
	 .stockTicker-value
	 {
	     font-weight:normal;
	     font-size:13px;
         color:#333333;
         float:left;
	 }
	 .stockTicker-spacer
	 {
	     clear:both;
	 }
	 
/*  END Stock Ticker WEb Part Styles  */

/*Recent News*/
.FD-NewsRoom-Title
{
    font-size:10pt !important;
    color:#FF0000 !important;
}

.FD-NewsRoom-Desc
{
    font-size:10pt;
}


/*   LEFT NAVIGATION  */
        #rightContent
        {

            min-height:585px;
	        width:718px;
	        padding-top: 5px;
            padding-bottom: 0;
            margin-bottom:0;
            padding-right: 5px;
            padding-left: 25px;
            float:right;
        }


        .leftNav
        {
            width:221px;
            vertical-align:top;
            float:left;
        }

        .leftNavTopImg
        {
            background-image:url('/_layouts/1033/Images/fd/Corporate/leftnav_whiteboxwithdropshadow_top.png');
            background-position:left top;
            background-repeat:repeat-y;
            min-height:35px;
        }
        
        .leftNavMiddleImg
        {
            background-image:url('/_layouts/1033/Images/fd/Corporate/leftnav_whiteboxwithdropshadow_middleonepix.png');
            background-repeat:repeat-y;
            background-position:left top;
            padding-left:22px;
            min-height:490px;
        }
        
        .leftNavBtmImg
        {
            margin-left:-16px;
            width:976px;
            margin-bottom:19px;
            background-image:url('/_layouts/1033/Images/fd/Corporate/leftnav_whiteboxwithdropshadow_bottom.png');
            background-position:left top;
            background-repeat:no-repeat;
            clear:both;
        }

    #leftNavWrapper
    {
        float:left;
        margin-left:-16px;
        width:976px;
        background-image:url('/_layouts/1033/Images/fd/Corporate/leftnav_whiteboxwithdropshadow_middleonepix.png');
        background-position:left top;
        background-repeat:repeat-y;
        min-height:325px;
    }
    
    #ctl00_footerNavigation > div {
    	float: left;
    }