/* Toggle Styles */

.header {
	padding-left: 0;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

#page-content-wrapper {
	width: 100%;
	position: absolute;
	padding: 15px;
}
.header.toggled #page-content-wrapper {
	position: absolute;
	margin-right: -250px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.header.toggled .logo-img {
	margin-right: -250px;
}

#search  {
	margin-top: 15px;
}

#headerLinks {
   color: #231f20;
   font-size: 11px;
   text-align: right;
   float: right;
}

#headerLinks a {
    color: #231f20;
    text-decoration: none;
}

@media(max-width:979px) {

#menu-toggle {
	font-size: 25px;
}
#headerLinks {
	display: none;
}
.content-right {
	display: none;
}
#page-content-wrapper {
	width: auto;
	position: absolute;
	padding: 15px 0;
	display: inline-block;
}
.logo-img.col-sm-6 {
	/* float: right; */
	margin-top: 14px;
	padding-right: 0;
	position: absolute;
	right: 6px;
}
.transition-five {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.header.toggled {
	padding-left: 250px;
	position: fixed;
	width: 100%;
}
}

@media(min-width:980px) {

#page-content-wrapper {
	display: none;
}

#page-content-wrapper {
	padding: 20px;
	position: relative;
}
#wrapper.toggled #page-content-wrapper {
	position: relative;
	margin-right: 0;
}
/* Main-header section */
.header {
	min-height: 50px;
	margin-bottom: 20px;
}
.header .logo-img a {
	padding-left: 10px;
}
#headerLinks {
	margin-right: 30px;
	text-align: right;
}
.header .content-right {
	float: right;
}
#headerLinks .sub-head-nav {
	margin-top: 5px;
	margin-left: 20px;
}
.header .logo-img {
	padding-left: 25px;
}
}
