
<h4 data-sly-test="${wcmmode.edit}">Edit Multimedia Component! ${properties.multimediaType}</h4>

<div class="slider heroCarousel">
	<!-- Image/Image Carousel -->
	<div data-sly-use.multimedia="com.familydollar.corporate.core.use.MultimediaWCMUse" data-sly-list="${multimedia.multimediaList}" data-sly-unwrap>
		    <div data-sly-test="${item.type == 'imagecarousel'}"><img src="${item.path}"></div>
		    <div data-sly-test="${item.type == 'flash'}"><object width="100%" height="500px" data="${item.path}"></object></div>
		    <div data-sly-test="${item.type == 'youtube'}"><iframe width="100%" height="315" src="${item.path}" frameborder="0" allowfullscreen></iframe></div>
	</div>
</div>




